{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<div id="wrapper">
    <div id="three-column" class="container">
        <div><span class="arrow-down"></span></div>
        <div id="tbox1">
            <div class="title">
                {% if not session.username %}
                <h2>Categories</h2>
                {% else %}
                <h2>Categories <a href="/catalog/new"> <i class="ui-icon ui-icon-plusthick" style="float:right" title="Add a new category"></i></a></h2>
                {% endif %}
            </div>
            {% for category in categories %}
            <nobr>
                <a href="/catalog/{{ category.id}}/items" title="View {{ category.name }} items">{{ category.name }}</a>
                {% if session.username %}
                    {% if category.user == session.email %}
                        <a href="/catalog/{{ category.id}}/delete">
                            <i class="ui-icon ui-icon-trash" style="float:right">  </i>
                        </a>
                        <a href="/catalog/{{ category.id}}/edit">
                            <i class="ui-icon ui-icon-wrench" style="float:right">  </i>
                        </a>
                    {% endif %}
               {% endif %}
            </nobr>
            <br>
            {% endfor %}
        </div>
        
        {% if items is not none %}
        <div id="tbox2">
            <div class="title">
                {% if category is not none %}
                    {% if not session.username %}
                        <h2>{{ category.name }} Items</h2>
                    {% else %}
                        <h2>{{ category.name }} Items <a href="/catalog/{{ category.id}}/items/new"> <i class="ui-icon ui-icon-plusthick" style="float:right"  title="Add a new item"></i></a></h2>
                    {% endif %}
                {% else %}
                    <h2>Most Recent</h2>
                {% endif %}
            </div>
            {% for item in items %}
                <a href="/catalog/{{ item.category_id }}/item/{{ item.id}}">{{ item.title }}</a>
                {% if session.username %}
                    <nobr>
                        {% if item.user == session.email %}
                            <a href="/catalog/{{ item.category_id}}/items/{{ item.id }}/delete">
                                <i class="ui-icon ui-icon-trash" style="float:right">  </i>
                            </a>
                            <a href="/catalog/{{ item.category_id}}/items/{{ item.id }}/edit">
                                <i class="ui-icon ui-icon-wrench" style="float:right">  </i>
                            </a>
                        {% endif %}
                    </nobr>
                {% endif %}
                <br>
            {% endfor %}
        </div>
        {% endif %}

        {% if current_item is not none %}
        <div id="tbox3">
            <div class="title">
                <H2>{{ current_item.title }}</H2>
            </div>
            {{ current_item.description }}
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}
