{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div id="page-wrapper">
    <div id="page" class="container">
        <div class="title">
            <h3>Are you sure you want to delete Category {{ category.name }}??</h3>
            <P>
            <form action="/catalog/{{ category.id }}/delete/" method = "post">
                <div class="form">
                    <div class="padding-bottom"></div>
                    <button type="submit" d="submit" type="submit">Delete</button>
                </div>
            </form>
            <br>
            <br>
            <a href="/catalog">cancel</a></p>
        </div>
    </div>
</div>

{% endblock %}
