
<!--
<div id="header" class="container">
    <div id="logo">
        <h1><a href="/">Catalog</a></h1>
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="#" accesskey="1" title="">Home</a></li>
                {% if not session.username %}
                <li><a href="/login" accesskey="2" title="">Login</a></li>
                {% else %}
                <li><a href="/logout" accesskey="2" title="">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
-->
