<div id="page-wrapper">
    <div id="page" class="container">
        <div class="title">
            {% if not session.username %}
            <h2>Welcome to our Catalog</h2>
            {% else %}
            <h2>Welcome to our Catalog {{session.username}}</h2>
            {% endif %}
        </div>
        {% if not session.username %}
        <p>Please feel free to browse our catalog. If you'd like to change anything, then please click the <a href="/login">Login</a> button.</p>
        {% else %}
        <p>Please feel free to browse our catalog and make changes. You can <a href="/logout">logout</a> at any time.</p>
        {% endif %}
    </div>
</div>

<!--
<div id="header" class="container">
    <div id="logo">
        <h1><a href="/">Catalog</a></h1>
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="#" accesskey="1" title="">Home</a></li>
                {% if not session.username %}
                <li><a href="/login" accesskey="2" title="">Login</a></li>
                {% else %}
                <li><a href="/logout" accesskey="2" title="">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
-->
