{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div id="page-wrapper">
    <div id="page" class="container">
        
        <div class="title">
            <h2>Choose Your Login Provider</h2>
        </div>
        <p>Don't want to login? <a href="/catalog">Go back to the home page.</a></p>
        <p>
        
<!-- GOOGLE PLUS SIGN IN BUTTON-->
          <div id="signInButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="487234336107-orm7509goud6cooj4qto9dkqtkja1feo.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

<div id="result"></div>

<script>
function signInCallback(authResult) {
  console.log('signInCallback')
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        console.log('got success')
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/catalog";
         }, 4000);
          
        } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
         } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
   });
  }
}
</script>

<!--END GOOGLE PLUS SIGN IN BUTTON -->

</div>
</div>

{% endblock %}
